<div class="dike-pole chat-card">
    <header class="card-header">
        <h3>{{title}}</h3>
    </header>
    <div class="card-content">
        <div class="result-line">
            <strong>{{localize "DIKEPOLE.Result"}}:</strong> 
            <span class="outcome">{{outcome}}</span>
        </div>
        <div class="result-line">
            <strong>{{localize "DIKEPOLE.Highest"}}:</strong>
            <span class="highest">{{highestResult}}</span>
        </div>
        {{#if hasTwist}}
        <div class="twist">{{localize "DIKEPOLE.Twist"}}</div>
        {{/if}}
        <div class="dice-roll">
            <div class="dice-result">
                <div class="dice-tooltip">
                    <ol class="dice-rolls">
                        {{#each results as |r|}}
                        <li class="roll die d6 {{#if r.isCut}}cut{{/if}}">{{r.value}}</li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>